.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .main{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
  }
